.accor {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 490px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftcontent {
  position: relative;
}

.accorimg {
  width: 80%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: up-down 2s ease-in-out infinite alternate-reverse both; */
}

.rightcontent {
  box-shadow: 2px 10px 35px 1px rgba(153, 153, 153, 0.3);
  background-color: rgb(39, 39, 39);
}

.wrap {
  background: #272727;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  text-align: center;
  cursor: pointer;
}

.wrap h6 {
  padding: 2rem;
  font-size: 2rem;
}

.wrap span {
  margin-right: 1.5rem;
}

.drop {
  background: #fdfdfd;
  color: #000000;
  font-size: 25px;
  padding: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 6px solid #1f9266;
  border-top: 6px solid #1f9266;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
