.searchbar {
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar input {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  color: rgb(48, 59, 94);
  font-weight: 500;
}
